## Import libaray

In [1]:
import requests
from io import StringIO
import pandas as pd
import numpy as np

## Download data from Taiwan Stock Exchange Corporation

In [2]:
SearchDate = '20181207'
DataFromWeb = requests.get('http://www.twse.com.tw/exchangeReport/MI_INDEX?response=csv&date=' + SearchDate + '&type=ALLBUT0999')
DataFromWeb.text[:100]

'"107年12月07日 價格指數(臺灣證券交易所)"\r\n"指數","收盤指數","漲跌(+/-)","漲跌點數","漲跌百分比(%)","特殊處理註記",\r\n"寶島股價指數","11,167.75",'

## Parse the data by Pandas

In [72]:
temp_list = []

# 不含0050
for temp in DataFromWeb.text.split('\n'):
    if len(temp.split('",')) == 17 and temp[0] != '=':
        temp_list.append(temp)

target_dict = {ord(c): None for c in ' '}

String_Data = StringIO("\n".join([i.translate(target_dict) for i in temp_list]))

df = pd.read_csv(String_Data)

df[:5]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,1101,台泥,"9,683,367","3,804","339,627,959",34.70,35.45,34.70,35.05,+,0.40,35.05,307,35.10,16,9.63,NaN
1,1102,亞泥,"3,244,244","1,511","108,320,638",33.30,33.55,33.05,33.50,+,0.35,33.45,11,33.50,55,10.24,NaN
2,1103,嘉泥,"717,139",266,"9,936,920",13.85,13.95,13.75,13.90,+,0.10,13.90,32,13.95,67,4.91,NaN
3,1104,環泥,"52,627",54,"1,009,455",19.15,19.25,19.10,19.20,+,0.10,19.15,16,19.25,25,10.97,NaN
4,1108,幸福,"32,682",16,"235,750",7.20,7.22,7.20,7.22,+,0.05,7.22,41,7.23,15,0.00,NaN

## Select Stocks

In [74]:
# 用本益比<15的條件來篩選
df1 = df[pd.to_numeric(df['本益比'], errors='coerce') < 15]
df1[:10]

,證券代號,證券名稱,成交股數,成交筆數,成交金額,開盤價,最高價,最低價,收盤價,漲跌(+/-),漲跌價差,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量,本益比,Unnamed: 16
0,1101,台泥,"9,683,367","3,804","339,627,959",34.70,35.45,34.70,35.05,+,0.40,35.05,307,35.10,16,9.63,NaN
1,1102,亞泥,"3,244,244","1,511","108,320,638",33.30,33.55,33.05,33.50,+,0.35,33.45,11,33.50,55,10.24,NaN
2,1103,嘉泥,"717,139",266,"9,936,920",13.85,13.95,13.75,13.90,+,0.10,13.90,32,13.95,67,4.91,NaN
3,1104,環泥,"52,627",54,"1,009,455",19.15,19.25,19.10,19.20,+,0.10,19.15,16,19.25,25,10.97,NaN
4,1108,幸福,"32,682",16,"235,750",7.20,7.22,7.20,7.22,+,0.05,7.22,41,7.23,15,0.00,NaN
5,1109,信大,"51,500",24,"759,050",14.70,14.80,14.55,14.80,+,0.30,14.70,1,14.80,9,6.98,NaN
7,1201,味全,"486,301",262,"10,819,496",22.30,22.45,22.05,22.25,NaN,0.00,22.25,9,22.30,44,7.04,NaN
8,1203,味王,"27,362",32,"698,314",25.50,25.75,25.40,25.75,+,0.20,25.50,1,25.75,13,14.23,NaN
9,1210,大成,"426,399",321,"13,714,089",32.10,32.30,32.10,32.15,NaN,0.00,32.10,34,32.15,13,10.40,NaN
10,1213,大飲,"16,193",17,"176,392",10.85,10.95,10.85,10.85,+,0.15,10.85,12,10.95,11,0.00,NaN

## Sort the Stocks

In [1]:
df2 = df[pd.to_numeric(df['本益比'], errors='coerce') < 15].sort_values(by=['本益比', '收盤價'], ascending = False)
df2[:10]

NameError: name 'df' is not defined